.contact-container {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
  width: 65%;
  margin: 0 auto;
  padding: 0 32px;
}

h1 {
  color: #37c8ca;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-photo {
  width: 500px;
}

input {
  border: 1px solid #1b9fa2;
  padding: 1em;
  width: 110%;
}

label {
  display: inline-block;
}

textarea {
  border: 1px solid #1b9fa2;
  padding: 1em;
  width: 110%;
}
